<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <img src="../../assets/icon/criclogo.png">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/login']">Login</a>
      <a mat-list-item [routerLink]="['/register']">Register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Inferno Cricket</span>
    </mat-toolbar>
     <div class="col-md-6" id="img1">
      <img src="../../assets/images/cric-img.jpg" class="img-responsive " id="img2">
    </div> -->
<!-- </mat-sidenav-content>
</mat-sidenav-container> -->

<section class="nav-bar">
  <div class="nav-container">
    <div class="brand">
      <a href=""><img src="../../assets/icon/criclogo.png"></a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="javascript:void(0)"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="javascript:void(0)">Home</a>
        </li>
        <li>
          <a href="javascript:void(0)">Admin</a>
        </li>
        <li>
          <a href="javascript:void(0)">Tournaments</a>
          <ul class="nav-dropdown">
            <li>
              <a href="javascript:void(0)">Fantasy League</a>
            </li>
            <li>
              <a href="javascript:void(0)">IPL</a>
            </li>
            <li>
              <a href="javascript:void(0)">BPL</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)">Updates</a>
          <ul class="nav-dropdown">
            <li>
              <a href="javascript:void(0)">Upcoming Matches</a>
            </li>
            <li>
              <a href="javascript:void(0)">News</a>
            </li>
            <li>
              <a href="javascript:void(0)">Notice</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)">Players</a>
        </li>
        <li>
          <a href="javascript:void(0)">About</a>
        </li>
      </ul>
    </nav>
  </div>
</section>